# mac stuff
*.DS_Store

# IDE stuff
.vscode/
.classpath
.project
.settings/
/results/
/bin/
bin/

# Java stuff
*.class

# Logger
SystemLog.txt

# local testing
local_outputs/
**/output/
javadoc/
doxygen/






